

NET "LED[0]" LOC = F12;
NET "LED[1]" LOC = E12;
NET "LED[2]" LOC = E11;
NET "LED[3]" LOC = F11;
NET "LED[4]" LOC = C11;
NET "LED[5]" LOC = D11;
NET "clk" LOC = C9;
NET "rst" LOC = L13;

# PlanAhead Generated physical constraints 

NET "dem" LOC = F9;
